<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>

<body>
    <div ng-controller="myController">
        <h2>Welcome. You are Logged In as <%= username %></h2>
		<h1>Student Profile</h1>
		<hr/>
		<h3>First Name: {{user.firstName}}</h3>
		<h3>Last Name: {{user.lastName}}</h3>
		<h3>College: {{user.College}}</h3>
		<h3>GPA: {{user.GPA}}</h3>
		<h3>Major: {{user.Major}}</h3>
		<h3>Email: {{user.email}}</h3>

		
		
		
        <a href="/logout">logout</a>
        <a href="/user">Edit User</a>
    </div>
    <hr>
    <%= msg %>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

        <script src="/static/js/my_app.js"></script>
</body>

</html>